<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>Categories</h1>

    {% if categories is not empty %}
        <p>Here are all your categories:</p>
        <ul>
            {% for category in categories %}
                <li>{{ category.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/categories' method='post'>
        <label for='name'>Category name</label>
        <input id='name' name='name' type='text'>

        <button type='submit'>Add category</button>
    </form>
    <form action='/delete_categories' method='post'>
        <button type='submit'>Clear</button>
    </form>

    <p><a href='/'>Home</a></p>
</body>
</html>
