<html>
<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to To Do List</h1>

        <h4>Create a new category:</h4>

        <form action="/categories" method="post">
            <div class="form-group">
                <input id="name" name="name" class="form-control" type="text" placeholder="Category Name">
            </div>
            <button type="submit" class="btn btn-success">Add category</button>
        </form>

        {% if categories is not empty %}
            <p>List of all categories:</p>
            <ul>
                {% for category in categories %}
                    <li><a href="/categories/{{ category.getId }}">{{ category.getName }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no categories yet!</p>
        {% endif %}

        <form action="/all_tasks">
            <button type="submit" class="btn btn-info">List All Tasks</button>
        </form>

        <form action="/delete_categories" method="post">
            <button type="submit" class="btn btn-danger">Clear Categories</button>
        </form>
    </div>
</body>
</html>
