<html>
<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">

    <h1>Welcome to To Do List</h1>

        <h3><a href="/categories">Add or view a category</a></h3>
        <h3><a href="/tasks">Add or view a task</a></h3>

    </div>
</body>
</html>
